<?xml version="1.0" encoding="utf-8"?>
<phpunit>
	<testsuites>
		<testsuite name="test_php7">
			<file>test/ValidateParamBuilderTest.php</file>
			<file>test/InputValidatorTest.php</file>
			<file>test/CountFileHandlerTest.php</file>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">Mebius/IO</directory>
			<exclude>
				<file>Mebius/IO/FileHandler.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
